<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite" configfailurepolicy="continue">

    <!-- Test the booking flow end to end on mweb -->
    <test name="Booking Flow Test">

        <classes>
            <class name="Fab_Application.BookingTest.BookingFlowTest"/>
        </classes>
    </test> <!-- Test -->


    <!-- Test the home screen on desktop -->
    <test name="Home Screen Test">

        <packages>
            <package name="Fab_Application.HomePageTests"/>
            <package name="Fab_Application.LoginPageTests"/>
        </packages>

    </test>

    <!--  Test the booking flow end to end on Desktop -->
    <test name="SRP Screen Test Desktop">

        <packages>
            <package name="Fab_Application.SRPTests"/>
        </packages>

    </test>  <!-- Test -->


    <test name="Payment Test">
        <packages>
            <package name="Fab_Application.Payment_Flow"/>
        </packages>
    </test> <!-- Test -->


    <!--&lt;!&ndash; Verify the points credited  on desktop &ndash;&gt;-->
    <!--<test name="Points Credited Test">-->

        <!--<classes>-->
            <!--<class name="Fab_Application.ReviewPageTest.PointsCreditedTest"/>-->
        <!--</classes>-->

    <!--</test>-->


</suite>