<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Suite" configfailurepolicy="continue">

    <!-- Test the booking flow end to end on desktop -->
    <test name="Booking Flow Test">

        <packages>
            <package name="Fab_Application.BookingTest"/>
        </packages>
    </test> <!-- Test -->


    <!-- Test the payment flow end to end on desktop -->
    <test name="Payment Flow Test">

        <packages>
            <package name="Fab_Application.Payment_Flow"/>
        </packages>
    </test> <!-- Test -->


    <!-- Test the Review Page Test on desktop -->
    <test name="Review Page Test">

        <packages>
            <package name="Fab_Application.ReviewPageTest"/>
        </packages>
    </test> <!-- Test -->


</suite> <!-- Suite -->